.completed {
    background-color: rgb(152, 186, 192);
}

.completed:td-nth-child(2) {
    text-decoration: line-through;
}

.crossOut {
    text-decoration: line-through;
}

body {
    background-color: rgb(222, 232, 240);
}
header {
    background-color: #17a2b8;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/22/15/28/directory-1273088_1280.jpg);
    text-align: right;
    color: white;
    height: 20em;
}

h2 {
    font-size: 2.5em;
    margin-right: 1.25em;
}

h4 {
    font-size: 1.5em;
    margin-right: 5em;
    color: #343a40;
}

table {
    margin-top: 2em;
}

.small {
    width: 10%;
}

.medium {
    width: 25%;
}

.large {
    width: 55%;
}

.card {
    text-align: center;
}